<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        h3{
            font-size: 30px;
            color: rgb(0, 0, 0);
            font-weight: 600;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
        }

        button{
            position: relative;
            float: right;
            margin-right: 30px;
        }


    
      
    </style>
</head>
<body>
    <div class="container">
        <br>
        <h3>Employee Manager</h3>
        <br>
        <mat-form-field style="margin-left: 30px">
            <input (input)="searchEmployee(filter.value)" matInput placeholder="Search Employee here" type="text" #filter>
        </mat-form-field>
        <!-- when user clicks add the featurer pops up -->
        <button (click)="openDialog(employee)" mat-flat-button style="background:black;color:white">Add+</button>
        <br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
              <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
              <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let employee"> {{employee.email}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="salary">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
              <td mat-cell *matCellDef="let employee"> {{employee.salary}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef > Edit </th>
              <td mat-cell *matCellDef="let employee"> <button mat-flat-button (click)="openDialog(employee)" style="height: 30px;width:auto">Edit</button>  </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef > Delete </th>
              <td mat-cell *matCellDef="let employee"> <button mat-flat-button (click)="deleteEmployee(employee.id)" style="height: 30px;width:auto">Delete</button>  </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let employees; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
          </mat-paginator>
          
          

    </div>
</body>
</html>